@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p class="lead">Servicio técnico de PC's y Notebooks.</p>
    <p>Conocenos</p>
</div>
<div class="row">
    <div class="col-sm-12 col-center">
        <p>
            Debes iniciar sesión en nuestro sitio. Si aun no eres usuario, por favor regístrate. Es fácil y totalmente gratuito.
        </p>
        <p><a href="/Usuarios/SignUp" class="btn btn-primary">Registrate</a><a href="/Usuarios/SignIn" class="btn btn-primary-green">Inicia Sesión</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Paso 1</h2>
        <h3>Indícanos qué te sucede</h3>
        <p>Rellena un breve formulario con tu problema.</p>
    </div>
    <div class="col-md-4">
        <h2>Paso</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>