body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*MENÚ*/
.navbar-inverse-cm {
    background-color: #004d99;
    border-color: #080808;
}

.navbar p {
    font-family: "Courier New, Courier, monospace";
    font-size: 20px;
    color: azure;
    margin-top: 10px;
    margin-right: 15px;
}

.nav > li > a {
    color: azure;
}

.nav > li > a:hover {
    text-decoration: none;
    background-color: #eeeeee;
    color: #004d99;
}

/*DISEÑO GENERAL*/
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #cce6ff;
}

.col-center{
    text-align: center;
}

/*BOTONES*/
.btn-primary {
    color: #fff;
    background-color: #004d99;
    border-color: #2e6da4;
    margin-right: 5px;
}

.btn-primary-green {
    color: #fff;
    background-color: #2eb82e;
    border-color: #2e6da4;
    margin-right: 5px;
}

/*PIE DE PÁGINA*/
#pie p{
    text-align: center;
}

/*VENTANAS MODALES*/
.modal-header-cm {
    background-color: #004d99;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title-cm {
    margin: 0;
    line-height: 1.42857143;
    color: azure;
    font-weight: bold;
}

.modal-dialog{
    width: 300px;
}

.datepicker table {
    background-color: #eb8223;
    border-top: 0;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color: #eb8223;
}

.datepicker table thead tr th.prev:hover,
.datepicker table thead tr th.datepicker-switch:hover,
.datepicker table thead tr th.next:hover,
.datepicker table tbody tr td span.month:hover,
.datepicker table tbody tr td span.year:hover 
{
    background-color: #fbe5d0;
}

.datepicker table tbody tr td span.month.focused,
.datepicker table tbody tr td span.year.focused {
    background-color: #f6cba2;
}

.datepicker table tbody tr td.day {
    background-color: #fff;
    border-radius: 0;
}

.datepicker table tbody tr td.highlighted.day {
    color: #000;
    background-color: #fbe5d0;
    border-color: #fbe5d0;
    border-radius: 0;
}

    .datepicker table tbody tr td.highlighted:hover,
    .datepicker table tbody tr td.day:hover,
    .datepicker table tbody tr td.today.day:hover {
        color: #000;
        background-color: #f6cba2;
        border-color: #eb9c47;
    }

.datepicker table tbody tr td.old.disabled.highlighted.day:hover,
.datepicker table tbody tr td.new.highlighted.day:hover,
.datepicker table tbody tr td.old.disabled.day:hover,
.datepicker table tbody tr td.new.day:hover {
    color: #777;
}

.datepicker table tbody tr td.old.disabled.highlighted.day,
.datepicker table tbody tr td.new.highlighted.day {
    color: #777;
}

.datepicker table tbody tr td.old.disabled.highlighted.day:hover {
    background-color: #f6cba2;
}

    .datepicker table tbody tr td.today {
        background-color: #f2b073;
        background-image: none;
    }

    .datepicker table tbody tr td.active.day,
    .datepicker table tbody tr td.active.day:hover{
        background-color: #eb8223;
        background-image: none;
    }