body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*MENÚ*/
.navbar-inverse-cm {
    background-color: #004d99;
    border-color: #080808;
}

.navbar p {
    font-family: "Courier New, Courier, monospace";
    font-size: 20px;
    color: azure;
    margin-top: 10px;
    margin-right: 15px;
}

.nav > li > a {
    color: azure;
}

.nav > li > a:hover {
    text-decoration: none;
    background-color: #eeeeee;
    color: #004d99;
}

/*DISEÑO GENERAL*/
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #cce6ff;
}

.col-center{
    text-align: center;
}

/*BOTONES*/
.btn-primary {
    color: #fff;
    background-color: #004d99;
    border-color: #2e6da4;
    margin-right: 5px;
}

.btn-primary-green {
    color: #fff;
    background-color: #2eb82e;
    border-color: #2e6da4;
    margin-right: 5px;
}

/*PIE DE PÁGINA*/
#pie p{
    text-align: center;
}

/*VENTANAS MODALES*/
.modal-header-cm {
    background-color: #004d99;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title-cm {
    margin: 0;
    line-height: 1.42857143;
    color: azure;
    font-weight: bold;
}

.modal-dialog{
    width: 300px;
}